
@{
    ViewBag.Title = "FormatoAnalisisRiesgo180Peru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-mainpanel">
    <div class="br-pageheader">

    </div>
    <div class="br-pagetitle">
        <i class="icon ion-ios-book-outline"></i>
        <div>
            <h4 id="lbl_titulo">Análisis Integral de Riesgo 180° Perú</h4>
        </div>
    </div>
    <div class="br-pagebody">
        <div class="br-section-wrapper">

            <!-- I.	INFORME ANTECEDENTES JUDICIALES -->
            <div class="row mg-b-25">
                <!-- Title -->
                <div class="col-lg-12">
                    <h4 style="text-align: center;">Análisis Integral de Riesgo 180°</h4>
                </div>
            </div>

            <!-- DATOS BASICOS DEL CANDIDATO -->
            <div class="row mg-b-25 border_content">
                <!-- FORMULARIO -->
                <div class="col-lg-7">
                    <table class="table table-bordered">
                        <thead class="thead-colored thead-warning">
                            <tr>
                                <th style="font-size: 14px; text-align: center;">1. Datos Personales del Evaluado</th>
                            </tr>
                        </thead>
                    </table>
                    <!-- Salto -->
                    <br />
                    <div class="row col-lg-18">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>APELLIDOS Y NOMBRES: <span class="tx-danger">*</span></label>
                                <input type="text" id="txt_1_nombres_apellidos" class="form-control" placeholder="-" required disabled>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>NRO DE DOCUMENTO: <span class="tx-danger">*</span></label>
                                <input type="text" id="txt_1_nro_documento" class="form-control" placeholder="-" required disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row col-lg-18">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>FECHA DE INSCRIPCIÓN: <span class="tx-danger">*</span></label>
                                <input type="date" id="txt_1_fecha_inscripcion" class="form-control" placeholder="-" required>
                                <div><ul class="parsley-errors-list filled"><li class="parsley-required" id="ul_error_1_fecha_inscripcion" data-i18n="field_needs_be_filled">Valor prueba</li></ul></div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>FECHA DE EXPEDICIÓN: <span class="tx-danger">*</span></label>
                                <input type="date" id="txt_1_fecha_expedicion" class="form-control" placeholder="-" required>
                                <div><ul class="parsley-errors-list filled"><li class="parsley-required" id="ul_error_1_fecha_expedicion" data-i18n="field_needs_be_filled">Valor prueba</li></ul></div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-lg-18">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>CADUCIDAD: <span class="tx-danger">*</span></label>
                                <input type="date" id="txt_1_caducidad" class="form-control" placeholder="-" required>
                                <div><ul class="parsley-errors-list filled"><li class="parsley-required" id="ul_error_1_caducidad" data-i18n="field_needs_be_filled">Valor prueba</li></ul></div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>DIRECCIÓN: <span class="tx-danger">*</span></label>
                                <input type="text" id="txt_1_direccion" class="form-control" placeholder="-" required disabled >
                            </div>
                        </div>
                    </div>
                    <div class="row col-lg-18">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>LUGAR DE NACIMIENTO: <span class="tx-danger">*</span></label>
                                <input type="text" id="txt_1_lugar_nacimiento" class="form-control" placeholder="(Departamento, Provincia, Distrito)" required disabled>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>FECHA DE NACIMIENTO: <span class="tx-danger">*</span></label>
                                <input type="date" id="txt_1_fecha_nacimiento" class="form-control" placeholder="-" required disabled>
                            </div>
                        </div>
                    </div>


                    <div class="row col-lg-18">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>NACIONALIDAD: <span class="tx-danger">*</span></label>
                                <input type="text" id="txt_1_nacionalidad" value="Peruano(a)" class="form-control" placeholder="-" required>
                                <div><ul class="parsley-errors-list filled"><li class="parsley-required" id="ul_error_1_nacionalidad" data-i18n="field_needs_be_filled">Valor prueba</li></ul></div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>EDAD: <span class="tx-danger">*</span></label>
                                <input type="number" id="txt_1_edad" class="form-control" placeholder="-" required>
                                <div><ul class="parsley-errors-list filled"><li class="parsley-required" id="ul_error_1_edad" data-i18n="field_needs_be_filled">Valor prueba</li></ul></div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-lg-18">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>ESTADO CIVIL: <span class="tx-danger">*</span></label>
                                <select id="txt_1_estado_civil" class="form-control ClassStatusCivil" data-placeholder="Choose Browser">
                                </select>
                                <div><ul class="parsley-errors-list filled"><li class="parsley-required" id="ul_error_1_estado_civil" data-i18n="field_needs_be_filled">Valor prueba</li></ul></div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>GRADO DE INSTRUCCIÓN: <span class="tx-danger">*</span></label>
                                <input type="text" id="txt_1_grado_instruccion" class="form-control" placeholder="-" required>
                                <div><ul class="parsley-errors-list filled"><li class="parsley-required" id="ul_error_1_grado_instruccion" data-i18n="field_needs_be_filled">Valor prueba</li></ul></div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-lg-18">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>ESTATURA: <span class="tx-danger">*</span></label>
                                <input type="number" id="txt_1_estatura" class="form-control" placeholder="-" required>
                                <div><ul class="parsley-errors-list filled"><li class="parsley-required" id="ul_error_1_estatura" data-i18n="field_needs_be_filled">Valor prueba</li></ul></div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>NOMBRE MADRE: <span class="tx-danger">*</span></label>
                                <input type="text" id="txt_1_nombre_madre" class="form-control" placeholder="-" required>
                                <div><ul class="parsley-errors-list filled"><li class="parsley-required" id="ul_error_1_nombre_madre" data-i18n="field_needs_be_filled">Valor prueba</li></ul></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row col-lg-18">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>NOMBRE PADRE: <span class="tx-danger">*</span></label>
                                <input type="text" id="txt_1_nombre_padre" class="form-control" placeholder="-" required>
                                <div><ul class="parsley-errors-list filled"><li class="parsley-required" id="ul_error_1_nombre_padre" data-i18n="field_needs_be_filled">Valor prueba</li></ul></div>
                            </div>
                        </div>
                    </div>
                   


                </div>

                <!-- ESTADISTICA -->
                <div class="col-lg-5">
                    <table class="table table-bordered">
                        <thead class="thead-colored thead-warning">
                            <tr>
                                <th style="font-size: 14px; text-align: center;">RESULTADO FINAL</th>
                            </tr>
                        </thead>
                    </table>
                    <!-- Salto -->
                    <br />


                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:15pt;">Nivel de Riesgo</label>
                                    <label class="rdiobox">
                                        <input name="radioNivel" type="radio" value="1" checked>
                                        <span><b style="color: red; font-size:12pt;">Alto</b></span>
                                    </label>
                                    <label class="rdiobox">
                                        <input name="radioNivel" type="radio" value="2">
                                        <span><b style="color: darkgoldenrod; font-size:12pt;">Medio</b></span>
                                    </label>
                                    <label class="rdiobox">
                                        <input name="radioNivel" type="radio" value="3">
                                        <span><b style="color: limegreen; font-size:12pt;">Bajo</b></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <label class="rdiobox">
                                        <input name="radioCalificacion" type="radio" value="1" checked>
                                        <span><b style="font-size:12pt;">Recomendable</b></span>
                                    </label>
                                    <label class="rdiobox">
                                        <input name="radioCalificacion" type="radio" value="2">
                                        <span><b style="font-size:12pt;">No Recomendable</b></span>
                                    </label>
                                    <label class="rdiobox">
                                        <input name="radioCalificacion" type="radio" value="3">
                                        <span><b style="font-size:12pt;">En Observación</b></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Salto -->
                    <br />
                    <br />

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Escala Sinceridad: <span class="tx-danger">* 1 - 100</span></label>
                                    <input type="number" id="txt_escala_sinceridad" class="form-control" placeholder="-" required>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label>Nivel de Riesgo: <span class="tx-danger">* 1 - 100</span></label>
                                    <input type="number" id="txt_nivel_riesgo" class="form-control" placeholder="-" required>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="input-group">
                                        <button class="btn btn-oblong btn-warning btn-block mg-b-2" id="btn_buscar" onclick="calculateGraphic()"><span>Calcular</span> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="col-lg-12">
                        <div id="container-graphic"></div>
                    </div>


                </div>
            </div>


            <!-- -->
            <div class="row mg-b-25 border_content">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead class="thead-colored thead-warning">
                            <tr>
                                <th style="font-size: 14px; text-align: center;">2. Análisis de Antecedentes Personales Premium</th>
                            </tr>
                        </thead>
                    </table>
                </div>


                <div class="col-lg-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <label class="rdiobox">
                            <input name="radio_2_analisis" type="radio" value="true" checked>
                            <span>Registra</span>
                        </label>
                        <label class="rdiobox">
                            <input name="radio_2_analisis" type="radio" value="false">
                            <span>No Registra</span>
                        </label>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="form-group">
                        <label>Observaciones: <span class="tx-danger">*</span></label>
                        <textarea type="text" rows="3" id="txt_2_observaciones" class="form-control" placeholder="-" required></textarea>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="form-group">
                        <label>Análisis: <span class="tx-danger">*</span></label>
                        <textarea type="text" rows="3" id="txt_2_analisis" class="form-control" placeholder="-" required></textarea>
                    </div>
                </div>

            </div>


            <!-- -->
            <div class="row mg-b-25 border_content">

                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead class="thead-colored thead-warning">
                            <tr>
                                <th style="font-size: 14px; text-align: center;">3. Análisis de Antecedentes Financieros</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <label class="rdiobox">
                            <input name="radio_2_antecedentes" type="radio" value="Bajo" checked>
                            <span>Bajo</span>
                        </label>
                        <label class="rdiobox">
                            <input name="radio_2_antecedentes" type="radio" value="Medio">
                            <span>Medio</span>
                        </label>
                        <label class="rdiobox">
                            <input name="radio_2_antecedentes" type="radio" value="Alto">
                            <span>Alto</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="form-group">
                        <label>
                            NIVEL DE RIESGO FINANCIERO: <span class="tx-danger">*</span>
                        </label>
                        <textarea type="text" rows="3" id="txt_4_financiero_sentienel" class="form-control" placeholder="-" required></textarea>
                    </div>
                </div>

            </div>


            <!-- -->
            <div class="row mg-b-25 border_content">

                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead class="thead-colored thead-warning">
                            <tr>
                                <th style="font-size: 14px; text-align: center;">4. Análisis del Test de Confiabilidad</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea type="text" rows="3" id="txt_6_analisis_test_confiabilidad" class="form-control" placeholder="-" required></textarea>
                    </div>
                </div>

            </div>


            <!-- -->
            <div class="row mg-b-25 border_content">

                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead class="thead-colored thead-warning">
                            <tr>
                                <th style="font-size: 14px; text-align: center;">5. Conclusión</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea class="col-lg-12" id="txt_8_conclusion" rows="4">Tras el análisis integral se concluye que el nivel de riesgo del evaluado es: medio, bajo, alto. Es por ello que Recomendamos /No recomendamos su contratación o continuidad de servicio. La evaluación, debido a los factores de confiabilidad o ausencia de antecedes, no son concluyente por lo que se recomienda profundizar en el análisis o cruzar información con su desempeño y vinculaciones laborales. 
                            </textarea>
                    </div>
                </div>

            </div>

            <!-- -->
            <div class="row mg-b-25 border_content">

                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead class="thead-colored thead-warning">
                            <tr>
                                <th style="font-size: 14px; text-align: center;">6. Anexos: Score Crediticio, Pruebas Psigma, Visita domiciliaria</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <!-- Contador de registro -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label><b>SELECCIONAR ARCHIVO:</b> <span class="tx-danger">*</span></label>

                        <input type="file" id="file_9" class="form-control" placeholder="-" required>
                    </div>
                </div>

                <div class="col-lg-3">
                </div>
                <div class="col-lg-3">
                    <div class="form-group mg-b-10-force">
                        <label><span class="tx-danger">&nbsp;</span></label>
                        <div class="input-group">
                            <button class="btn btn-oblong btn-warning btn-block mg-b-2" id="btn_9_agregar"><i class="fa fa-plus-circle"></i> <span>Agregar</span> </button>
                        </div>
                    </div>
                    <!-- Salto -->
                    <br />
                </div>
                <!-- Tabla -->
                <div class="col-lg-12">
                    <div class="table-wrapper">
                        <table class="table table-sm display responsive nowrap table-bordered table-colored table-dark" id="tbl_9_list" style="width: 100%;">
                            <thead class="font-size-8">
                                <tr>
                                    <th class="wd-5p">INDEX</th>
                                    <th class="wd-15p">NOMBRE</th>
                                    <th class="wd-15p">ACCIÓN</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

            <div class="row mg-b-25">
                <div class="col-lg-9">
                </div>
                <div class="col-lg-3">
                    <div class="form-group mg-b-10-force">
                        <label><span class="tx-danger">&nbsp;</span></label>
                        <div class="input-group">
                            <button class="btn btn-oblong btn-warning btn-block mg-b-2" id="btn_guardar"><i class="fa fa-save"></i> <span> Guardar </span> </button>
                        </div>
                        <br />
                        <div class="input-group">
                            <button class="btn btn-oblong btn-dark btn-block mg-b-2" id="btn_generar"><i class="fa fa-save"></i> <span> Generar </span> </button>
                        </div>
                        <br />
                        <div class="input-group">
                            <button class="btn btn-oblong btn-dark btn-block mg-b-2" id="btn_regresar"><i class="fa fa-backward"></i> <span> Regresar </span> </button>
                        </div>
                    </div>
                    <!-- Salto -->
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body mb-0 p-0">
                <img id="imgPreview" src="https://i.gifer.com/YCZH.gif" alt="" style="width:100%">
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    var UrlGetStatusCivil = '@Url.Action("getStatusCivil", "Services", new { IdPais = 1 })';
    var UrlGetDocumentType = '@Url.Action("GetDocumentType", "Services", new { IdPais = 1 })';
    var urlGenerateDocument = '@Url.Action("GenerateDocumentFinale", "Services")';
    var urlDownloadBase64 = '@Url.Action("GetPreviewFileBase64", "Services")';
    var UrlSaveorUpdateIntegrity180Peru = '@Url.Action("SaveorUpdateIntegrity180Peru", "Services")';
    var urlGetRiskAnalysisFormat180Peru = '@Url.Action("GetRiskAnalysisFormat180Peru", "Services")';
    //Obtener Datos de work integrity
    var urlWorkIntegrityDetail = '@Url.Action("GetListWorkIntegrityDetail", "Services")';

</script>
@Scripts.Render("~/bundles/analisis_riesgo_180_peru")